.paragraph-title h2 {
  max-width: 80%;
  margin: auto;
  font-size: 35px;
  text-align: center;
}
.paragraph-title h1 {
  text-align: center;
}

.paragraph-links-oferta-formativa .section-blocks {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 45px;
}
.paragraph-links-oferta-formativa .section-blocks .block-links {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0588235294);
  background-color: #fff;
  flex: 1;
  padding: 43px;
  border-radius: 22px;
}
.paragraph-links-oferta-formativa .section-blocks .block-links ul {
  list-style: none;
}
.paragraph-links-oferta-formativa .section-blocks .block-links ul li {
  border-bottom: 1px solid #F2F7FD;
  padding: 10px 0;
}
.paragraph-links-oferta-formativa .section-blocks .block-links ul li a {
  font-size: 16px;
}
.paragraph-links-oferta-formativa .section-blocks .block-links h3 {
  font-size: 18px;
  padding-bottom: 25px;
}

.paragraph-ultimes-noticies .list-noticies {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 45px;
}

.paragraph-accesos-directes .list-accesos {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
  margin-top: 45px;
}
.paragraph-accesos-directes .list-accesos > div {
  border-radius: 22px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}
.paragraph-accesos-directes .list-accesos > div a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #161615;
  padding: 30px 25px;
  border-radius: 22px;
  transition: all 0.3s;
  font-size: 16px;
  font-family: "poppins-regular";
}
.paragraph-accesos-directes .list-accesos > div a img {
  padding-bottom: 15px;
  transition: all 0.3s;
  max-width: none;
  width: auto;
  height: auto;
}
.paragraph-accesos-directes .list-accesos > div a:hover {
  color: #161615;
  background-color: #FFAE00;
  color: #fff !important;
}
.paragraph-accesos-directes .list-accesos > div a:hover img {
  filter: brightness(0) invert(1);
}

.paragraph-distribuidora-01 .noticies-distribuidora {
  width: 340px;
}
.paragraph-distribuidora-01 .noticies-distribuidora h2 {
  font-size: 20px;
}
.paragraph-distribuidora-01 .noticies-distribuidora .link-arrow {
  margin-top: 10px;
  text-align: left;
}
.paragraph-distribuidora-01 .noticies-distribuidora ul {
  list-style: none;
  border-top: 1px solid #161615;
  margin-top: 20px;
}
.paragraph-distribuidora-01 .noticies-distribuidora ul li {
  padding: 20px 0;
  border-bottom: 1px solid #161615;
}
.paragraph-distribuidora-01 .noticies-distribuidora ul li a {
  font-family: "poppins-regular";
  font-size: 16px;
}
.paragraph-distribuidora-01 .noticies-distribuidora ul li .data {
  font-family: "poppins-regular";
  font-size: 14px;
  padding-top: 7px;
}
.paragraph-distribuidora-01 .links-distribuidora {
  flex: 1;
  padding-right: 80px;
}
.paragraph-distribuidora-01 .links-distribuidora ul {
  display: grid;
  grid-gap: 23px;
  list-style-type: none;
  grid-template-columns: 1fr 1fr;
}
.paragraph-distribuidora-01 .links-distribuidora ul li {
  margin: 0;
  padding: 0;
  width: 100%;
}
.paragraph-distribuidora-01 .links-distribuidora ul li a {
  padding: 35px;
  border-radius: 22px;
  display: block;
  color: #161615;
  padding-right: 100px;
  position: relative;
  background-color: #fff;
  font-family: "poppins-regular";
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0588235294);
}
.paragraph-distribuidora-01 .links-distribuidora ul li a:hover {
  background-color: #FFAE00;
  color: #161615 !important;
}
.paragraph-distribuidora-01 .links-distribuidora ul li a:hover:after {
  filter: brightness(0) invert(1);
}
.paragraph-distribuidora-01 .links-distribuidora ul li a:after {
  position: absolute;
  display: block;
  content: "";
  background: url("../img/arrow-orange-border.svg") no-repeat center right;
  width: 50px;
  height: 50px;
  right: 30px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.paragraph-enllacos {
  background-color: #DEE8F4;
}
.paragraph-enllacos .list-enllacos {
  padding: 30px 0;
}
.paragraph-enllacos .list-enllacos ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 23px;
}
.paragraph-enllacos .list-enllacos ul li a {
  padding: 35px;
  border-radius: 22px;
  display: block;
  color: #161615;
  padding-right: 100px;
  position: relative;
  background-color: #fff;
  font-family: "poppins-regular";
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0588235294);
}
.paragraph-enllacos .list-enllacos ul li a:hover {
  background-color: #FFAE00;
  color: #161615 !important;
}
.paragraph-enllacos .list-enllacos ul li a:hover:after {
  filter: brightness(0) invert(1);
}
.paragraph-enllacos .list-enllacos ul li a:after {
  position: absolute;
  display: block;
  content: "";
  background: url("../img/arrow-orange-border.svg") no-repeat center right;
  width: 50px;
  height: 50px;
  right: 30px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 1200px) {
  .paragraph-title h2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .paragraph-accesos-directes .list-accesos {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .paragraph-ultimes-noticies .list-noticies {
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }

  .paragraph-distribuidora-01 .d-flex {
    flex-direction: column;
  }
  .paragraph-distribuidora-01 .noticies-distribuidora {
    width: 100%;
    margin-top: 50px;
  }
  .paragraph-distribuidora-01 .links-distribuidora {
    padding-right: 0px;
  }
}
@media screen and (max-width: 580px) {
  .paragraph-links-oferta-formativa .section-blocks {
    grid-template-columns: 1fr;
  }
  .paragraph-links-oferta-formativa .section-blocks .block-links {
    padding: 25px;
  }

  .paragraph-title h2 {
    font-size: 30px;
  }

  .paragraph-ultimes-noticies .list-noticies {
    grid-template-columns: 1fr;
  }

  .paragraph-accesos-directes .list-accesos {
    grid-template-columns: 1fr 1fr;
  }
  .paragraph-accesos-directes .list-accesos > div a {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .paragraph-accesos-directes .list-accesos > div a img {
    padding-right: 10px;
    width: 40px;
  }

  .paragraph-distribuidora-01 .links-distribuidora ul {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=paragraphs.css.map */
