<div class="paragraph paragraph-galeria-imatges container p-med">
    <div class="list-images">
        <div class="media-teaser">
          <div class="">
            <img src="/img/image.jpg" alt="">
          </div>
          <div class="field-caption">
            Títol de la imatge
          </div>
        </div>
        <div class="media-teaser">
            <div class="">
            <img src="/img/image.jpg" alt="">
          </div>
          <div class="field-caption">
            Títol de la imatge
          </div>
        </div>
        <div class="media-teaser">
            <div class="">
            <img src="/img/image.jpg" alt="">
          </div>
          <div class="field-caption">
            Títol de la imatge
          </div>
        </div>
        <div class="media-teaser">
            <div class="">
            <img src="/img/image.jpg" alt="">
          </div>
          <div class="field-caption">
            Títol de la imatge
          </div>
        </div>
        <div class="media-teaser">
            <div class="">
            <img src="/img/image.jpg" alt="">
          </div>
          <div class="field-caption">
            Títol de la imatge
          </div>
        </div>
    </div>
</div>
