<div class="paragraph-list-noticies paragraph-ultimes-noticies container paragraph-title p-med pagination">
    <div class="list-noticies d-grid">
        <div class="article-teaser">
            <a href="">
                <img src="/img/image.jpg" alt="">
                <div class="content">
                    <h3>Xocolatada Solidària a favor de la investigació contra el càncer infantil</h3>
                    <div class="data">10-02-2022</div>
                </div>
            </a>
        </div>
        <div class="article-teaser">
            <a href="">
                <img src="/img/image.jpg" alt="">
                <div class="content">
                    <h3>Xocolatada Solidària a favor de la investigació contra el càncer infantil</h3>
                    <div class="data">10-02-2022</div>
                </div>
            </a>
        </div>
        <div class="article-teaser">
            <a href="">
                <img src="/img/image.jpg" alt="">
                <div class="content">
                    <h3>Les impressores 3D del Copèrnic contra el coronavirus</h3>
                    <div class="data">10-02-2022</div>
                </div>
            </a>
        </div>
        <div class="article-teaser">
            <a href="">
                <img src="/img/image.jpg" alt="">
                <div class="content">
                    <h3>Titol noticia molt llarg a veure que passa i tal i cual</h3>
                    <div class="data">10-02-2022</div>
                </div>
            </a>
        </div>
    </div>
    <nav class="pager">
        <ul class="pager__items js-pager__items">
            <li class="pager__item pager__item--first">
                <a href="" title="Ir a la primera página">
                  <span class="visually-hidden">Primera página</span>
                  <span aria-hidden="true">« Primero</span>
                </a>
              </li>
                                <li class="pager__item pager__item--previous">
                <a href="" title="Ir a la página anterior" rel="prev">
                  <span class="visually-hidden">Página anterior</span>
                  <span aria-hidden="true">‹‹</span>
                </a>
              </li>
            <li class="pager__item is-active"><a href="">1</a></li>
            <li class="pager__item"><a href="">2</a></li>
            <li class="pager__item"><a href="">3</a></li>
            <li class="pager__item"><a href="">4</a></li>
            <li class="pager__item pager__item--next">
                <a href="" title="Ir a la página siguiente" rel="next">
                  <span class="visually-hidden">Siguiente página</span>
                  <span aria-hidden="true">››</span>
                </a>
              </li>
              <li class="pager__item pager__item--last">
                <a href="" title="Ir a la última página">
                  <span class="visually-hidden">Última página</span>
                  <span aria-hidden="true">Último »</span>
                </a>
              </li>
        </ul>    
    </nav>
</div>