<div class="paragraph paragraph-intro-distribuidora container">
    <h2>
        Títol del paràgraf
    </h2>
    <div class="content">
        <p>Pellentesque in sem molestie, egestas nibh vel, placerat erat. Maecenas laoreet, 
            enim rutrum vulputate dictum, elit metus finibus ex, ut malesuada mi urna ut mauris.
             Aliquam erat volutpat. Aliquam sit amet tristique nulla, et dictum felis. Proin nibh elit, 
             vulputate eget lectus egestas, <b>pretium sagittis</b> enim. Maecenas at libero in metus finibus euismod eleifend a ipsum. 
             Duis placerat maximus leo, vitae vestibulum diam malesuada sed. Class aptent taciti sociosqu ad litora torquent 
             per conubia nostra, per inceptos himenaeos. <a href="">Pellentesque</a> sodales libero vel lorem lacinia, nec cursus risus convallis. 
             Nam sit amet diam nec augue iaculis euismod. Quisque in vehicula eros, quis consectetur risus. Fusce suscipit convallis 
             luctus. Donec congue varius fringilla. Etiam at est vitae magna suscipit tempor. Duis commodo consectetur arcu, sit amet 
             ultrices ipsum consectetur posuere.</p>
    </div>
</div>