<div class="paragraph paragraph-text-simple container-small p-med">
    <h2>Titol</h2>
    <div class="content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab earum quibusdam accusantium natus nisi nesciunt impedit perspiciatis, non tenetur ducimus fuga facilis possimus similique odio quos quod esse at in!
            Nobis enim deserunt eos quae aliquid necessitatibus molestiae unde minus, odit quis impedit nesciunt cumque nemo accusamus, fugit sit exercitationem incidunt vero? Praesentium veniam, illo impedit quibusdam accusantium enim iste.
        </p>
        <br>
        <br>
        <h3>Nom del titular</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nam harum repellendus numquam fuga sint, magni at maiores ex quasi veritatis eos quibusdam quam. Sequi ducimus fugiat voluptas repellat expedita.
        </p>
    </div>
</div>