<div class="paragraph paragraph-distribuidora-01 container p-big">
    <div class="d-flex">
        <div class="links-distribuidora">
            <ul>
                <li>
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
                <li>
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
                <li>
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
                <li>
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
            </ul>
        </div>
        <div class="noticies-distribuidora">
            <h2>Les notícies del Copèrnic</h2>
            <div class="link-arrow">
                <a href="">Totes les notícies</a>
            </div>
            <div class="llistat-noticies-distribuidora">
                <ul>
                    <li>
                        <a href="">Les impressores 3D del Copèrnic contra el coronavirus</a>
                        <div class="data">28-09-2021</div>
                    </li>
                    <li>
                        <a href="">Les impressores 3D del Copèrnic contra el coronavirus</a>
                        <div class="data">28-09-2021</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>