<div class="paragraph paragraph-llista-docs">
  <div class="container-small">
    <h2>Títol del paràgraf 06</h2>
  </div>
  <div class="container">
    <div class="llista-docs p-med">
      <div class="doc-teaser link-arrow-doc">
        <a href="">
          CFGM Sistemes microinformàtics i xarxes
        </a>
      </div>
      <div class="doc-teaser link-arrow-doc">
        <a href="">
          CFGS Administració de Sistemes Informàtics en Xarxa
        </a>
      </div>
    </div>
  </div>
</div>