<div class="paragraph paragraph-distribuidora-03 container p-big">
    <div class="d-grid llista-distribuidora-3">
        <div class="grup-distribuidora">
            <h2>Títol del grup</h2>
            <ul>
                <li class="link-no-box-arrow">
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
                <li class="link-no-box-arrow">
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
                <li class="link-no-box-arrow">
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
                 <li class="link-no-box-arrow">
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
            </ul>
        </div>
        <div class="grup-distribuidora">
            <h2>Títol del grup</h2>
            <ul>
                 <li class="link-no-box-arrow">
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
                <li class="link-no-box-arrow">
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
                 <li class="link-no-box-arrow">
                    <a href="">Títol de nivell lorem ipsum dolor setpost</a>
                </li>
            </ul>
        </div>
    </div>
</div>