<div class="paragraph paragraph-galeria-imatges container">
    <div class="list-images">
        <div class="media-teaser">
            <img src="/img/image.jpg" alt="">
        </div>
        <div class="media-teaser">
            <img src="/img/image.jpg" alt="">
        </div>
        <div class="media-teaser">
            <img src="/img/image.jpg" alt="">
        </div>
    </div>
</div>
