<div class="paragraph paragraph-image container-small">
    <div class="media-teaser">
        <div>
            <img src="/img/image.jpg" alt="">
        </div>
        <div class="field-caption">
            Peu d’imatge o video
        </div>
    </div>
    
</div>