<div class="paragraph paragraph-enllacos p-med">
    <div class="container">
        <h2>També et pot interessar</h2>
        <div class="list-enllacos">
            <ul>
                <li>
                    <a href="">Link 1</a>
                </li>
                <li>
                    <a href="">Link 1</a>
                </li>
                <li>
                    <a href="">Link 1</a>
                </li>
                <li>
                    <a href="">Link 1</a>
                </li>
            </ul>
        </div>
    </div>
</div>