<div class="paragraph paragraph-llista-logos p-med">
  <div class="container-small">
    <h2>Títol de la llista de logos</h2>
  </div>
  <div class="container p-med">
    <div class="llista-logos d-grid">
      <div class="item-logo">
        <img src="/img/logo1.jpeg" alt="">
      </div>
       <div class="item-logo">
        <img src="/img/logo2.jpeg" alt="">
      </div>
       <div class="item-logo">
        <img src="/img/logo3.jpeg" alt="">
      </div>
       <div class="item-logo">
        <img src="/img/logo4.jpeg" alt="">
      </div>
       <div class="item-logo">
        <img src="/img/logo5.jpeg" alt="">
      </div>
    </div>
  </div>

</div>