//variables

$bgblue: #F2F7FD;
$textblue: #00AAE8;
$black: #161615;
$lightblack: #747474;
$white: #fff;
$linkblue: #0098D0;
$darkblue: #0F4558;
$yellow: #FFAE00;
$orange: #EF6F09;
$greyblue: #DEE8F4;
// Global variables
$path: '';


@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
@mixin setPath($string){
  $path: $string !global;
}
@mixin webkits($property, $value){
   -webkit-#{$property} :#{$value};
   -moz-#{$property} :#{$value};
   -ms-#{$property} :#{$value};
   -o-#{$property} :#{$value};
   #{$property} :#{$value};
}
@mixin fontFace($family,$fontName, $style: normal,$weight: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$path}#{$fontName}.woff2') format('woff2');
    src: url('#{$path}#{$fontName}.woff') format('woff'); 
    font-style: $style;
    font-weight: $weight;
  }
}