@import 'mixins';

.paragraph-title{
    h2{
        max-width:80%;
        margin:auto;
        font-size:35px;
        text-align: center;
    }
    h1{
        text-align: center;
    }
}
.paragraph-links-oferta-formativa{
    
    .section-blocks{
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
        margin-top:45px;
        .block-links{
            box-shadow: 0px 4px 4px #0000000F;
            background-color:$white;
            flex:1;
            padding:43px;
            border-radius:22px;
            ul{
                list-style: none;
                li{
                    border-bottom:1px solid $bgblue;
                    padding:10px 0;
                    a{
                        font-size:16px;
                    }
                }
            }
            h3{
                font-size:18px;
                padding-bottom:25px;
            }
        }
    }
}

.paragraph-ultimes-noticies{
    .list-noticies{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:20px;
        margin-top:45px;
        > .article-teaser{
            margin-bottom:10px;
        }
    }
}

.paragraph-accesos-directes{
    .list-accesos{
        grid-template-columns: repeat(4, 1fr);
        grid-gap:18px;
        margin-top:45px;
        > div{
            border-radius:22px;
            background-color:$white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
            
            a{
                display:inline-block;
                width:100%;
                height:100%;
                color:$black;
                padding:27px 25px 15px 25px;
                border-radius:22px;
                transition: all .3s;
                font-size:16px;
                font-family: 'poppins-regular';
                img{
                    padding-bottom:12px;
                    transition: all .3s;
                    max-width:none;
                    width:auto;
                    height:auto;
                }
                p{
                    margin-top:0;
                }
                &:hover{
                    color:$black;
                    background-color:$yellow;
                    color:$white!important;
                    img{
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}

.paragraph-distribuidora-01, .paragraph-distribuidora-02{
    .noticies-distribuidora{
        width:340px;
        h2{
            font-size:20px;
        }
        .link-arrow{
            margin-top:10px;
            text-align: left;
        }
        ul{
            list-style: none;
            border-top:1px solid $black;
            margin-top:20px;
            li{
                padding:20px 0;
                border-bottom:1px solid $black;
                a{
                    font-family: 'poppins-regular';
                    font-size:16px;
                }
                .data{
                    font-family: 'poppins-regular';
                    font-size:14px;
                    padding-top:7px;
                }
            }
        }
    }
    .links-distribuidora{
        flex:1;
        padding-right:80px;
        ul{
            display:grid;
            grid-gap:23px;
            list-style-type: none;
            grid-template-columns: 1fr 1fr;
            li{
                margin:0;
                padding:0;
                width:100%;
            }
        }
    }
}

.paragraph-distribuidora-02{
    .links-distribuidora{
        padding-right:0;
    }
}
.link-no-box-arrow a{
    color:$black;
    position:relative;
    padding-right:70px;
    font-family: 'poppins-regular';
    font-size:16px;
    &:hover{
      
        color:$black!important;
        &:after{
            background:url('../img/arrow-orange-border-hover.svg') no-repeat center right;
        }
    }
    &:after{
        position:absolute;
        display:block;
        content:"";
        background:url('../img/arrow-orange-border.svg') no-repeat center right;
        width:50px;
        height:50px;
        right:0px;
        top:0;
        bottom:0;
        margin-top:auto;
        margin-bottom:auto;
    }
}

.link-box-white a{
    padding:35px;
    border-radius:22px;
    display:block;
    color:$black;
    padding-right:100px;
    position:relative;
    background-color:$white;
    font-family: 'poppins-regular';
    font-size:16px;
    box-shadow: 0px 4px 4px #0000000F;
    &:hover{
        background-color:$yellow;
        color:$black!important;
        &:after{
            filter: brightness(0) invert(1);
        }
    }
    &:after{
        position:absolute;
        display:block;
        content:"";
        background:url('../img/arrow-orange-border.svg') no-repeat center right;
        width:50px;
        height:50px;
        right:30px;
        top:0;
        bottom:0;
        margin-top:auto;
        margin-bottom:auto;
    }
}

.paragraph-distribuidora-03{
    .grup-distribuidora{
        h2{
            padding-bottom:20px;
            font-size:22px;
        }
    }
    .llista-distribuidora-3{
        grid-template-columns: 1fr 1fr;
        grid-gap:55px;
        ul{
            list-style: none;
            border-top:1px solid $black;
            li{
                border-bottom:1px solid $black;
            }
            a{
                width:100%;
                display:block;
                padding-top:18px;
                padding-bottom:18px;
            }
        }
    }
}

.paragraph-intro-distribuidora{
    padding-top:60px;
    h2{
        text-align: center;
        font-size:25px;
    }
    .content{
        padding:20px 200px 0 200px;
    }
}

.paragraph-enllacos{
    background-color:$greyblue;
    h2{
        text-align: center;
    }
    .list-enllacos{
        ul{
            list-style-type: none;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap:23px;
        }
    }
}

.paragraph-text-simple{
    h2{
        padding-bottom:20px;
        font-size:25px;
    }
    h3, h4{
        font-size:18px;
        padding-bottom:12px;
    }
}

.paragraph-galeria-imatges{
    .list-images{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:30px;
        .field-caption{
          font-size:16px;
          font-family: 'poppins-regular';
          padding-left:0;
        }
    }
}

.paragraph-llista-logos{
  .llista-logos{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:20px;
  }
}

.doc-teaser{
  border-bottom:1px solid $black;
  padding:5px 0;
}


@media screen and (max-width:1200px){
    .paragraph-title{
        h2{
            max-width:100%;
        }
    }
    
}

@media screen and (max-width:992px){
    .paragraph-intro-distribuidora .content{
        padding-left:0;
        padding-right:0;
    }
    .paragraph-enllacos{
        .list-enllacos ul{
            grid-template-columns: 1fr 1fr;
        }
    }
    .paragraph-accesos-directes{
        .list-accesos{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }   
    .paragraph-ultimes-noticies{
        .list-noticies{
            grid-template-columns: 1fr 1fr;
            margin-top:20px;
        }
    }
    .paragraph-distribuidora-01{
        .d-flex{
            flex-direction: column;
        }
        .noticies-distribuidora{
            width:100%;
            margin-top:50px;
        }
        .links-distribuidora{

            padding-right:0px;
        }
    }
}

@media screen and (max-width:580px){
    .paragraph-enllacos{
        .list-enllacos ul{
            grid-template-columns: 1fr;
        }
    }
    .paragraph-distribuidora-02 .links-distribuidora{
        ul{
            grid-template-columns: 1fr;
        }
    }
    .paragraph-distribuidora-03{
        .llista-distribuidora-3{
            grid-template-columns: 1fr;
        }
    }

    .paragraph-links-oferta-formativa{
        .section-blocks{
            grid-template-columns: 1fr;
            .block-links{
                padding:25px;
            }
        }
    }
    .paragraph-title{
        h2{
            font-size:30px;
        }
    }
    .paragraph-ultimes-noticies{
        .list-noticies{
            grid-template-columns: 1fr;
        }
    } 
    .paragraph-accesos-directes{
        .list-accesos{
            grid-template-columns: 1fr 1fr;
            > div a{
                padding:20px;
                display:flex;
                align-items: center;
                img{
                    padding-right:10px;
                    width:40px;
                }
            }
            
        }
    }  
    .paragraph-distribuidora-01{
        .links-distribuidora{
            ul{
                grid-template-columns: 1fr;
            }
        }
    }
}